@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: "Inter", sans-serif;
  }
  body {
    background-color: #202025;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5e5e6b;
    border-radius: 9999rem;
  }
}
